:root {
    --bg-image-light:url(images/bg-coffee-light.jpg);
    --bg-image-dark: url(images/bg-coffee-dark.jpg);
}
.theme-light {
    --color-primary: burlywood;
    --color-secondary:  #ecdfd0ee;
    --color-accent: brown;
    --font-color: #000000;
    --bg-image:var(--bg-image-light);
    
}
.theme-dark {
    --color-primary: #4C3A51;
    --color-secondary: #774360;
    --color-accent: #B25068;
    --font-color: #E7AB79;
    --bg-image:var(--bg-image-dark);
}

body {
    
    background-image: var(--bg-image);
    font-family: sans-serif;
    padding: 20px;
}

h1, h2 {
    font-family:  serif;
}
h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
}

h1, h2, p {
    text-align: center;
}

a {
    text-decoration: none;
    font-style: bold;
    color: var(--font-color)
}


.menu-card {
    margin-top: 2rem;
    width: 80%;
    background-color:var(--color-primary);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 30rem;
    border-radius: 0.5rem;
    color: var(--font-color)
}

hr {
    height: 2px;
    background-color:var(--color-accent);
    border-color:var(--color-accent);
}
.section-icons {
    width: 3rem;
    height: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:-1rem;
    margin-bottom: 1rem;
    filter:hue-rotate(90deg);
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}


.item-name {
    text-align: left;
    width: 75%;
}
.price {
    text-align: right;
    width: 25%;
}

/* Slider */
.slide-arrow {
    position: fixed;
    top: 50%;
    bottom: 50%;
    color: var(--font-color);
    background-color: rgba(128, 128, 128, 0.5);
    border: none;
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 4rem;
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 100ms;
    
}
  
.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-prev {
    border-radius: 2rem 1rem 1rem 2rem;
    left: 20rem;
}

#slide-arrow-next {
    border-radius: 1rem 2rem 2rem 1rem;
    right: 20rem;
}

/* defaults on load */
#page2, #page3 {
    display: none;
}

#footer {
    background-color: black;
}

#themeSwitcher {
    padding: 0.5rem;
    padding-left: 0.4rem;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background-color: var(--color-primary);
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
    border-radius: 0.5rem;

}
#themeSwitcher:hover {
    opacity: 0.75;
}

/* media queries */
@media only screen and (max-width:1366px) {
    .slide-arrow {
        font-size: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        height: 4rem;
    }
    #slide-arrow-prev {
        left: 10rem;
    }
    #slide-arrow-next {
        right: 10rem;
    }
}

@media only screen and (max-width:1024px) {
    .slide-arrow {
        font-size: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 4rem;
    }
    #slide-arrow-prev {
        left: 2rem;
    }
    #slide-arrow-next {
        right: 2rem;
    }
    
    #themeSwitcher {
        padding: 0.25rem;
        padding-left: 0.2rem;
        position: fixed;
        right: 0.5rem;
        bottom: 0.5rem;
        border-radius: 0.25rem;
    
    }
}


@media only screen and (max-width:720px) {
    .slide-arrow {
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 2rem;
    }
    #slide-arrow-prev {
        left: 0.5rem;
    }
    #slide-arrow-next {
        right: 0.5rem;
    }

    .toplinks {
        display: none;
    }

    
}
@media only screen and (max-width:480px) {
    .slide-arrow {
        font-size: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        height: 2rem;
    }
    #slide-arrow-prev {
        left: 0.25rem;
    }
    #slide-arrow-next {
        right: 0.25rem;
    }

    
}

