body {
    background-image: url(images/bg-coffee.jpg);
    font-family: sans-serif;
    padding: 20px;
}

h1, h2 {
    font-family:  serif;
}
h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
}

h1, h2, p {
    text-align: center;
}

a {
    text-decoration: none;
    font-style: bold;
    color: black
}


.menu-card {
    margin-top: 2rem;
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 30rem;
    border-radius: 0.5rem;
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}
.section-icons {
    width: 3rem;
    height: 3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:-1rem;
    margin-bottom: 1rem;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}


.item-name {
    text-align: left;
    width: 75%;
}
.price {
    text-align: right;
    width: 25%;
}

/* Slider */
.slide-arrow {
    position: fixed;
    top: 50%;
    bottom: 50%;
    color: white;
    background-color: gray;
    border: none;
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 4rem;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
}
  
.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 0.75;
}

#slide-arrow-prev {
    border-radius: 2rem 1rem 1rem 2rem;
    left: 20rem;
}

#slide-arrow-next {
    border-radius: 1rem 2rem 2rem 1rem;
    right: 20rem;
}

/* defaults on load */
#page2, #page3 {
    display: none;
}

#footer {
    background-color: black;
}

/* media queries */
@media only screen and (max-width:1366px) {
    .slide-arrow {
        font-size: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        height: 4rem;
    }
    #slide-arrow-prev {
        left: 10rem;
    }
    #slide-arrow-next {
        right: 10rem;
    }
}

@media only screen and (max-width:1024px) {
    .slide-arrow {
        font-size: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 4rem;
    }
    #slide-arrow-prev {
        left: 2rem;
    }
    #slide-arrow-next {
        right: 2rem;
    }
}


@media only screen and (max-width:720px) {
    .slide-arrow {
        font-size: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 2rem;
    }
    #slide-arrow-prev {
        left: 0.5rem;
    }
    #slide-arrow-next {
        right: 0.5rem;
    }

    .toplinks {
        display: none;
    }
}
@media only screen and (max-width:480px) {
    .slide-arrow {
        font-size: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        height: 2rem;
    }
    #slide-arrow-prev {
        left: 0.25rem;
    }
    #slide-arrow-next {
        right: 0.25rem;
    }
}
